@*File Upload page*@
@using CaseStudyApp.Models
@model FileUploadViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}

<h4>Start Uploading Files Here</h4>
<hr class="divider" style="opacity:2; color:aqua"/>
@if (ViewBag.Message != null)
{
    @if(ViewBag.Message == "True")
    {
        <div class="alert alert-success alert-dismissible" style="margin-top:20px">
            <h5>File successfully uploaded!</h5>
        </div>
    }
    else
    {
        @if (ViewBag.Message == "False")
        {
            <div class="alert alert-danger alert-dismissible" style="margin-top:20px">
            <h5>Invalid file Type! Only .PBIX files supported!</h5>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible" style="margin-top:20px">
                <h5>File removed from File system!</h5>
            </div>
        }
    }
}
<form method="post" enctype="multipart/form-data">
    @*Form to input file*@
    <input id="fileUpload" type="file" name="files" accept=".pbix" multiple required />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
    <button id="btnUpload" type="submit" class="btn btn-primary" asp-controller="File" asp-action="UploadToFileSystem">Upload</button>
   
</form>
<hr class="divider" style="opacity:2; color:aqua"/>
<h4>Files on File System</h4>
@if (Model.FilesOnFileSystem.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{
    <caption>List of Files on File System</caption>
    <table class="table table-striped table-success">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>File Type</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnFileSystem)
            {
                <tr>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id">Download</a>
                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromFileSystem" asp-route-id="@file.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}