@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CaseStudyApp.Models.FileModel


<hr/>
<h3>Details</h3>
<!-- metadata loading -->
 <div class="flex-child green" style="flex:3;">
        <div class="bg-dark text-white" style="padding:5px;">
            <h6>Document Metadata</h6>
        </div>

  <div class="flex-container" style="display:flex;padding:5%;">
            <div class="flex-child" style="flex:auto;">
                <div class="bg-secondary text-white" style="width:50%;margin-top:10px;padding:3%;border-radius:10px;">
                    <h6>Created By:</h6>
                </div>
                <div> @Html.DisplayFor(m => m.UploadedBy)</div>
                <div class="bg-secondary text-white" style="width:50%;padding:3%;margin-top:30px;border-radius:10px;">
                    <h6>Created On: @Html.DisplayFor(m => m.CreatedOn)</h6>
                </div>
                <div class="bg-secondary text-white" style="width:50%;padding:3%;margin-top:30px; border-radius:10px;">
                    <h6>File Info:</h6>
                </div>
            </div>

    </div>
</div>

@Html.DisplayFor(m => m.Name)
@Html.DisplayFor(m => m.Description)
@Html.DisplayFor(m => m.CreatedOn)
@Html.DisplayFor(m => m.UploadedBy)

