@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@ 
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h3>Files on Database </h3>
@if (Model.FilesOnDatabase.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{ <div class="flex-container" style="display:flex;padding-top:2%;">
    <div class="flex-child magenta" style="flex:auto;">
        <div class="bg-dark text-white" style="width:50%;padding:5px; border:5px white;">
        <h6>List of Processed Files</h6>
        </div>
        <div>
            <table class="table table-striped" style="width:50%;padding:10px; border:1px solid grey;">
                <caption>List of Files on Database</caption>
                <thead>
                    <tr>
                        <!-- <th>#</th> --> 
                        <th>Name</th>
              
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.FilesOnDatabase)
                    {
                        <tr>
                            <!-- <th>@file.Id</th> -->
                            <td>@file.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex-child green" style="flex:3;">
        <div class="bg-dark text-white" style="padding:5px;">
            <h6>Document Metadata</h6>
        </div>
        <table class="table table-striped" align="left">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>File Type</th>
                    <th>Created On</th>
                    <th>Actions</th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.FilesOnFileSystem)
                {
                    <tr>
                        <th>@file.Id</th>
                        <td>@file.Name</td>
                        <td>@file.Description</td>
                        <td>@file.FileType</td>
                        <td>@file.CreatedOn</td>
                        <td>
                            <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id">Download</a>
                            <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromFileSystem" asp-route-id="@file.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
